.container {
   margin: 0 auto;
   display: block;
   justify-content:center;
   h1 { color: white}
}

html {
   background-color:#404040;
}

button {
  width:200px;
  display: block;
  margin: 0 auto;
  margin-top:20px;
  color: #bdbd8c;
  
}